{% extends 'food/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <iframe width="1150" height="315" src="https://www.youtube.com/embed/s1LCzikk8Cw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>
<br><Br>
<div class="container">
    <h4> VISION</h4>
    <p>
        We desire to see every Indian contribute 2% of their income to charities. As lack of transparency is one thing
        which stops most of us from contributing to NGOs. We are trying to address this problem using our innovative
        model. We believe that with the effective
        use of technology and introducing crowd-funding to the Indian public, we can create a much effective giving
        culture.
    </p>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="{% static 'images/back3.jpg' %}" alt="Chania" height="500px">
        </div>
        <div class="col-md-6">
            <p>Children are the future of a nation. For an emerging country like India, development of underprivileged
                children holds the key to the progress of the nation itself, and their education is the cornerstone of
                this progress. But education for children cannot be achieved without ensuring the welfare of the family
                – a child can go to school regularly only when the family, particularly the mother is healthy and
                empowered; the child gets proper nutrition; the family has decent livelihood opportunities and a steady
                income.</p>
            <p> Realizing this, we, beginning in the corridors of education, has adopted a lifecycle
                approach which addresses the needs of children, their families and the larger community.</p>

<!--              <p>  we strongly believes that unless members of the civil society are involved proactively in-->
<!--                the process of development, sustainable change will not happen. Following this model of Civic Driven-->
<!--                Change, Smile Foundation sensitizes and engages the civil society, making it an active partner in all-->
<!--                its welfare initiatives.-->

<!--                </p>-->
<!--        </div>-->
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="rounded-circle" src="{% static 'images/donation.jpg' %}" alt="Chania" width="304" height="236">

        </div>
        <div class="col-md-4">
            <img class="rounded-circle" src="{% static 'images/donation1.jpg' %}" alt="Chania" width="304" height="236">
        </div>
        <div class="col-md-4">
            <img class="rounded-circle" src="{% static 'images/donation2.jpg' %}" alt="Chania" width="304" height="236">
        </div>

    </div>

</div>
{% endblock content %}