{% extends 'food/main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="{% static 'images/mission.jpg' %}" alt="Chania">
        </div>
        <div class="col-md-6">
            <p> We strongly believes that unless members of the civil society are involved proactively in
                the process of development, sustainable change will not happen. Following this model of Civic Driven
                Change, Smile Foundation sensitizes and engages the civil society, making it an active partner in al
                its welfare initiatives.</p>
              <p>  A study by Food Ministry, Government of India found that about 20% of food at social events such as
                weddings goes waste. Food waste also occurs at parties, functions and restaurants. This is a sad state
                of affairs when one considers that two lakh street children in Mumbai go to sleep hungry every
                day. Therefore, leftover food donation is the need of the hour to counter both malnutrition and food
                waste!</p>
        </div>
    </div>
    </div>
<br><br>

{% endblock content%}